/* ===== GENERAL ================================ */
.row {
    /* width: 100%; */
    margin-bottom: 20px;
}

.row:last-child {
    margin-bottom: 0;
}

.row-with-margin {
    margin: 40px;
    margin-bottom: 20px;
}

.row.padding-left {
    padding-left: 20px;
}

.row::after {
    content: '';
    clear: both;
    display: table;
}


/* ===== SHOW DETAILS ON HOVER =================== */
.row:hover .hideIfNoHover {
    visibility: visible;
}

.showIfHover:hover .hideIfNoHover {
    visibility: visible;
}

.hideIfNoHover {
    visibility: hidden;
}

/* ===== COLS ================================== */
/* normal cols */
.col-1 { width: calc(25% - 20px); }
.col-2 { width: calc(50% - 20px); }
.col-3 { width: calc(75% - 20px); }
.col-4 { width: calc(100% - 20px); }

.row [class^='col-'], .row-with-margin [class^='col-'] {
    float: left;
    position: relative;
    padding: 0 20px 0 0;
    display: flex;
}

.floatReverse [class*='col-'] {
    float: right;
}

/* put two or more elements (buttons) to the left and right */
.col-stretch-elements {
    justify-content: space-between;
    padding-right: 0;
    width: 100%;
}

.row > [class*='fix-col-'].margin-bottom, .row > [class*='col-'].margin-bottom {
    margin-bottom: 15px;
}

/* cols with fix relative width */
.fix-col-1 { width: 25%; }
.fix-col-2 { width: 50%; }
.fix-col-3 { width: 75%; }
.fix-col-4 { width: 100%; }

[class*='fix-col-'] {
    float: left;
    position: relative;
    padding: 0;
    display: flex;
}

.floatReverse [class*='fix-col-'] {
    float: right;
}


/* ===== BOXES ========================== */
/* boxes, fixed width */
.box-1 { width: 150px; }
.box-2 { width: 200px; }
.box-3 { width: 250px; }
.box-4 { width: 300px; }

[class^='box-'] .header {
    font-weight: lighter;
    font-size: 1.35em;
}

.box-1 h4, .box-2 h4, .box-3 h4, .box-4 h4 {
    line-break: anywhere;
}

[class^='box-'] {
    margin-right: 20px;
    margin-bottom: 20px;
    background-color: var(--color-background-darker);
    padding: 15px;
    float: left;
    position: relative;
}

[class^='box-'].light {
    background-color: var(--color-background-hover);
}

/* ===== RESIZE OR HIDE COMPONENTS ON SMALL SCREENS ============== */
@media only screen and (max-width: 1025px) {
    .hide-m {
        display: none;
    }

    .row-with-margin { margin: 20px; margin-left: 55px; margin-top: 30px; }
}

@media only screen and (max-width: 641px) {
    .hide-s {
        display: none;
    }
    .col-1 { width: calc(50% - 20px); }
    .col-2 { width: calc(100% - 0px); }
    .fix-col-1 { width: 50%; }
    .fix-col-2 { width: 100%; }

    .col-3 { width: calc(100% - 20px); }
    .fix-col-3 { width: 100%; }

    .row-with-margin { margin: 20px 10px 10px 55px; }
}

@media only screen and (max-width: 460px) {
    .hide-xs {
        display: none;
    }
    .col-1, .fix-col-1 { width: 100%; padding-left: 0; padding-right: 0; }
    .col-3, .fix-col-3 { width: 100%; padding-left: 0; padding-right: 0; }
    .row-with-margin { margin: 5px 5px 5px 45px; }
}

input, textarea {
    width: 100%;
}

textarea {
    min-height: 100px;
}

input.missing {
    border: 1px solid var(--color-error);
}

.hint {
    color: var(--color-text-lighter);
    font-weight: lighter;
}