/**
 * SPDX-FileCopyrightText: 2021 Nextcloud GmbH and Nextcloud contributors
 * SPDX-License-Identifier: AGPL-3.0-or-later
 */
.x_modal-container {
	overflow: auto !important;
}

.modal__content {
	padding: 0 0 20px 20px;
}

.modal__content h2 {
	margin-top: 0;
}

@media only screen and (max-width: 1025px) {
	.x_modal__content {
		width: calc(100% - 40px);
	}
}

@media only screen and (max-width: 641px) {
	.x_modal__content {
		width: calc(100% - 40px);
		max-height: 90vh !important;
	}

	.x_modal-wrapper .prev, .modal-wrapper .next {
		min-width: 20px !important;
	}
}

@media only screen and (max-width: 460px) {
	.x_modal__content {
		width: calc(100% - 40px);
		max-height: 90% !important;
	}

	.x_modal-wrapper .prev, .modal-wrapper .next {
		min-width: 10px !important;
	}
}
