h1 {
    margin-top: 0;
    font-size: xx-large;
}

h2 {
    margin-top: -10px;
    font-size: x-large;
}

.modal__content h2 {
    margin-top: 0;
}

h3 {
    font-size: 20px;
    margin-top: 40px;
}
h4 {
    font-size: large;
    font-weight: 300;
    margin-bottom: 20px;
    margin-top: 10px;
}

p, .p {
    padding-top: 5px;
    padding-bottom: 7px;
}

p span, .p span, p .span, .p .span, .p.span, p.span, .light {
    font-weight: 100;
}

.bold {
    font-weight: bold;
}

[class^='col-'] span {
    color: var(--color-text-lighter);
    font-weight: 100;
}

.icon-left {
    background-position: left;
    padding-left: 22px;
}

.mandatory {
    font-weight: bold;
}

.v-popover button {
    height: 25px;
    margin-left: 10px;
    background-color: transparent;
    border: none;
}

.popover__inner p {
    padding: 15px;
}

.error {
    color:  var(--color-error);
}

.error input {
    border-color: var(--color-error);
}

.icon-loading:first-child {
    top: 10vh;
}

.block {
    display: block !important;
}

.align-right {
    text-align: right;
}

.hint-padding-left {
    padding-left: 20px;
    color: var(--color-text-lighter);
}

@media only screen and (max-width: 641px) {
    .hint-padding-left {
        padding-left: 0;
    }
}