h1 {
    font-size: x-large;
}

h2 {
    font-size: larger;
}

h3 {
    font-size: large;
}

h4 {
    font-size: medium;
    font-weight: 300;
}

p, .p {
    padding-top: 5px;
    padding-bottom: 7px;
}

p span, .p span, p .span, .p .span, .p.span, p.span, .light {
    font-weight: 100;
}

p code {
    white-space: pre-wrap;
    background-color: var(--color-background-dark);
    border-radius: var(--border-radius);
    padding: 0.8em 1em;
    margin-bottom: 0.8em;
    font-family: 'Lucida Console', 'Lucida Sans Typewriter', 'DejaVu Sans Mono', monospace;
}

.bold {
    font-weight: bold;
}


.light {
    font-weight: 100;
    color: var(--color-text-lighter);
    /*
    background-color: var(--color-background-hover);
    */
}

[class^='col-'] span {
    color: var(--color-text-lighter);
    font-weight: 100;
}

.icon-left {
    background-position: left;
    padding-left: 22px;
}

.mandatory {
    font-weight: bold;
}

.v-popover button {
    height: 25px;
    margin-left: 10px;
    background-color: transparent;
    border: none;
}

.popover__inner p {
    padding: 15px;
}

.error {
    color:  var(--color-error);
}

.error input {
    border-color: var(--color-error);
}

.icon-loading:first-child {
    top: 10vh;
}

.block {
    display: block !important;
}

.align-right {
    text-align: right;
}

.app-navigation-entry__children {
    display: none !important;
}