# SPDX-FileCopyrightText: 2021 Nextcloud GmbH and Nextcloud contributors
# SPDX-License-Identifier: AGPL-3.0-or-later
\.idea/
*.iml
vendor/
build/
node_modules/
.php_cs.cache
.php-cs-fixer.cache
js/*hot-update.*
js/
appinfo/info.xsd
releaseNotes.md
.vscode/settings.json
/tests/unit/.phpunit.result.cache
tests/unit/.phpunit.result.cache
/tests/integration/output/report.xml
/gen/
.DS_Store
/cypress/videos
/cypress/downloads
/vendor-bin/*/vendor
/lib/Vendor/
