/**
 * SPDX-FileCopyrightText: 2025 Nextcloud GmbH and Nextcloud contributors
 * SPDX-License-Identifier: AGPL-3.0-or-later
 */

.tables-smart-picker {
	width: 100%;
	min-height: 350px;
	display: flex;
	flex-direction: column;
	overflow-y: auto;
	padding: 0 16px 16px 16px;

	> h2 {
		margin: 12px 0;
		text-align: center;
	}

	h3 {
		margin: 0;
	}

	.space-B {
		margin-bottom: calc(var(--default-grid-baseline) * 4);
	}

	.space-T {
		margin-top: calc(var(--default-grid-baseline) * 2);
	}

	table {
		width: 100%;

		th, td {
			border: none !important;
			width: 50%;
			padding-inline: calc(var(--default-grid-baseline) * 2);
		}
	}

	.radio {
		display: flex;

		> span {
			padding-inline-end: calc(var(--default-grid-baseline) * 6);
		}

		label .material-design-icon {
			padding-inline-end: calc(var(--default-grid-baseline) * 1);
		}
	}

	.select-button {
		bottom: 0;
		width: 100%;
		display: flex;
		align-items: end;
		flex-direction: column;
		position: sticky;
	}

	.selection-wrapper {
		width: 100%;

		.selection {
			margin-inline: auto;
			width: 550px;
		}
	}

	.preview {
		border: 2px solid var(--color-border);
		border-radius: var(--border-radius-large);
	}
}